@import "tailwindcss";

@theme {
  --font-sans:
    "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@layer utilities {
  @keyframes scroll-rainbow {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-95%);
    }
  }

  .animate-rainbow-scroll {
    position: relative;
    overflow: hidden;
  }

  .animate-rainbow-scroll::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2000%;
    height: 75%;
    background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff, #ff0000);
    /* use 'will-change' to hint the browser to use the GPU */
    will-change: transform;
    animation: scroll-rainbow 30s linear infinite;
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .animate-fade-on-scroll {
    animation: fade-out linear both;
    animation-timeline: scroll();
    /* Fades from fully opaque at 0px to fully transparent at 300px of scroll */
    animation-range: 0px 300px;
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
